<h1>日記</h1>
<p><a href="https://google.com.tw/" title="Google site">Google</a></p>
<p><iframe width="1000" height="1000" src="https://mde.tw"></iframe></p>
<ol>
<li>AAA</li>
<li>BBB</li>
<li>AAA</li>
<li>BBB</li>
</ol>
<h2>9月</h2>
<p>9/27今天上課感覺完全沒有進入狀況的感覺要早點睡了11點感覺還是太晚</p>
<p>9/28 123</p>
<h2>10月</h2>
<h2>11月</h2>
<h1>學習流程</h1>
<h2>下載可攜</h2>
<p>為何要下載可攜?</p>
<p>可攜可以幫助製作者再只要有電腦與網路的地方，即可做倉儲的更新。</p>
<p>以下提供載點:</p>
<p>簡易版(7 GB) : <a href="https://drive.google.com/file/d/1Pkkjg8RX3pkZkjWEBlQBggw11u5YSn5i/view?usp=sharing">P3.7</a></p>
<p>完整版(21GB): <a href="https://drive.google.com/file/d/12BLN4daAPlO1KjCTDFi1kqJZ6f5k7Y5k/view?usp=sharing">Qt可攜</a></p>
<h2>網頁製作</h2>
<h2>git</h2><p><iframe width="1000" height="1000" src="https://s40723136.github.io/git/"></iframe></p><p>--help</p><p>:對git 取得相對的幫助，如果</p><p></p><h3>教學影片1</h3>
<h2>python</h2>
<h3>教學影片2</h3>
<h1>學習</h1>
<h2>微積分</h2>
<h2>工具機</h2>
<h2>機械製造</h2>
<p></p>
<h2></h2>