.container {
  position: relative;
}
header{
  background-image: url("httphttp://img05.tooopen.com/images/20150925/tooopen_sy_143684733881.jpg");
  padding: 20px;
}
confmenu
{
	#width: 800px;
	background: #333;
	margin-bottom: 10px;
}
confmenu ul
{
	margin: 0;
	padding: 0;
}
confmenu ul li
{
	margin: 10px;
	list-style-type: none;
	display: inline;
}
confmenu li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	background: #333;
	text-decoration: none;
	border-right: 1px solid #fff;
}
confmenu li a:hover {
background: #383; 
}

nav {
  left: 5px;
  width: 180px;
}

/* 開始 unordered list menu*/
ul#css3menu1,ul#css3menu1 ul{
    margin:0;
    list-style:none;
    padding: 0;
    background-color:none;
    border-width:0;
    border-style:solid;
    border-color:;
}
ul#css3menu1 ul{
	visibility:hidden;
	position:absolute;
	left:100%;
	top:0;
	opacity:0;
	-moz-transition:all 0.5s;
	-webkit-transition:opacity 0.5s;
	-o-transition:opacity 0.5s,visibility 0.5s;
	transition:opacity 0.5s;
	background-color:#A2D890;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0 3px 3px;
}
/* if there is no  > child selector, all child level will be shown */
/* child selector make sure to only show next ul */
ul#css3menu1 li:hover>ul{
	visibility:visible;
	opacity:1;
}
ul#css3menu1 li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
}
ul#css3menu1 li:hover{
	z-index:1;
}
ul#css3menu1 ul ul{
	position:absolute;
	left:100%;top:0;
	-moz-box-shadow:0px 0px 1px #63dbc3;
	-webkit-box-shadow:0px 0px 1px #63dbc3;
	box-shadow:0px 0px 1px #63dbc3;
}
ul#css3menu1{
	font-size:0;
	z-index:999;
	position:relative;
	display:block;
	float:left;
	padding:0 5px 5px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
ul#css3menu1>li{
	margin:5px 0 0;
}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;
}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:17px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#000000;
	cursor:pointer;
	padding:7px 12px;
	background-color:;
	background-repeat:repeat;
	border-width:0px;
	border-style:none;
	border-color:;
}
ul#css3menu1 ul li{
	float:none;
	margin:3px 0 0;
}
ul#css3menu1 ul a{
	text-align:left;
	padding:7px;
	background-color:#A2D890;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font:14px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#000000;
	text-decoration:none;
}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;
	/* mouse hover color */
	color:#FFCC00;
	text-decoration:none;
	background-color:#333
}
ul#css3menu1 img{
	border:none;
	vertical-align:middle;
	margin-right:7px;
}
ul#css3menu1 span{
	display:block;
	overflow:visible;
	background-image:url("arrowsub.gif");
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:20px;
}
ul#css3menu1 ul span{
	background-image:url("arrowsub.gif");
	padding-right:12px;
}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#70B45A;
	color:#FFFFFF;
	text-decoration:none;
}
ul#css3menu1 li.topmenu>a{
	background-color:#286C12;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	background-color:#A2D890;
}
/* arrow to the right */
.arrow-right {
    display: inline-block;
    margin-left: 12px;	
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #666;		
    width: 1px;
    height: 1px;
}
/* ends unordered list menu*/

section {
/* position is static by default */
line-height: 180%;
margin-left: 200px;
width: 600px;
}
footer {
position: fixed;
bottom: 10px;
left: 10px;
height: 70px;
background-color: white;
width: 195px;
}
body {
  margin-bottom: 120px;
}

